*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
}

button {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: hand;
    line-height: 1.4;
    color: black;
}

button:not([disabled]):hover {
    background-color: #dcdcdc;
}

a, a:visited {
    color: black;
}

a:hover {
    color: #333333;
}

#banner {
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    white-space: nowrap;
}

#banner #cc-license {
    position: absolute;
    top: 4px;
    right: 14px;
}

#banner a {
    color: #ffffff;
}

#banner img {
    vertical-align: top;
}

#banner-content {
    display: inline-block;
    margin-left: 4px;
}

#second-row {
    margin-top: 4px;
}

#second-row i, #second-row a {
    margin-right: 6px;
}

#search-text {
    width: 25em;
    line-height: 2em;
    padding-left: 4px;
    padding-right: 4px;
}

#paging {
    display: inline-block;
    white-space: nowrap;
}

#search-help {
    cursor: hand;
}

#search-help-content {
    display: none;
    position: relative;
    margin-top: 4px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 0 10 0 10;
}

#search-help-content a {
    color: black;
    font-style: italic;
}

#sketchnotes {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sketchnote {
    position: relative;
    margin: 1em;
    padding: 1em;
    border: 1px solid #333333;
    box-shadow: rgba(0,0,0,.4) 0 4px 8px;
    width: 436px;
    flex: 0 1 436px;
}

.sketchnote:hover {
    background-color: #f2f2f2;
}

.sketchnote .sketchnote-image {
    border: 1px solid #999999;
    background-image: url('./placeholder.jpg');
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 405px;
}

.sketchnote .sketchnote-image-holder {
    height: 282px;
}

.sketchnote .sketchnote-locate {
    margin: 4px;
}

.sketchnote .fa-lg {
    width: 18px;
    margin: 10px 8px 4px 4px;
    padding-top: 2px;
}

.sketchnote .metadata div {
    margin-bottom: 4px;
    display: flex;
    display: none;
    line-height: 1.6em;
}

.sketchnote .metadata div:has(a), .sketchnote .metadata div:has(span) {
    display: flex;
}

.sketchnote .link {
    position: absolute;
    bottom: 4;
    right: 4;
    color: black;
}

.sketchnote a {
    text-decoration: none;
}

.tags {
    overflow-wrap: anywhere;
    line-height: 2;
}

.tag {
    background-color: #cccccc;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    margin-right: 5px;
    padding: 3px 10px;
    min-width: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.modal {
    min-width: 20%;
    max-width: 90%;
}

.modal:has(#speaker-list), .modal:has(#tag-list) {
    min-width: 35%;
}

.modal li {
    margin-bottom: 4px;
    white-space: nowrap;
}

.modal ul {
    column-gap: 3em;
}

.letter-heading:not(:first-child) {
    margin: 1em 0 0.5em -1em;
}

.letter-heading {
    margin: 0 0 0.5em -1em;
    font-size: 1.3em;
}

#keyboard-help-table {
    border-collapse: collapse;
}

#keyboard-help-table td {
    padding: 6px 12px;
}

#keyboard-help-table td:first-child {
    text-align: center;
}

kbd {
    display: inline-block;
    padding: 4px 8px;
    font-family: monospace;
    font-size: 14px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
